<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="5">
  <parameter name="URL" value="//guru99.comm"/>
  <parameter name="URL1" value="//testQA.comm"/>
  <test thread-count="5" name="Test">
    <classes>
      <class name="tutorial1.test1">
          <methods>         
               <include name="first.*"/>
          </methods>
       </class>
      <class name="tutorial1.test2"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
